
.search {
  position: absolute;
  top: 2rem;
  left: 50%;
  height: 30px;
  transform: translateX(-50%);
  width: 30%;
  max-width: 900px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  background-color: white;
}

.locate {
  position: absolute;
  top: 4rem;
  left: 93.1%;
  background: none;
  border: none;
  z-index: 10;
}
.locate img {
  width: 40px;
  cursor: pointer;
}

.infowindow{
  text-align: left;
}