/* Error: Expected '.
 *    ,
 * 10 |     $selector: $selector + ',
 *    |                              ^
 *    '
 *   theme\_menu.scss 10:30  @import
 *   color1.scss 4:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected '.\a    \2577 \a 10 \2502      $selector: $selector + ',\d\a    \2502                               ^\a    \2575 \a   theme\\_menu.scss 10:30  @import\a   color1.scss 4:9         root stylesheet";
}
